@import '../index.scss';

.categorias {
  color: $default;
  width: 100%;

  a {
    padding: 4px 8px;
    display: inline-block;
    color: $default;
    font-weight: 800;
    font-size: .8rem;
    text-transform: uppercase;
  }

  a:active,
  a:focus,
  a:hover {
    color: $default;
  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:$default;
    transition: width .3s;
  }

  a:hover::after {
    width: 100%;
    transition: width .3s;
  }
}

@media (min-width: 990px) {
  .categorias {
    a {
      font-size: 1rem;
      padding: 4px 12px;
    }
  }
}
